<div id="<%= dom_id examination %>">
  <p>
    <strong>Title:</strong>
    <%= examination.title %>
  </p>

  <p>
    <strong>Expected at:</strong>
    <%= examination.expected_at %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= examination.course_id %>
  </p>

</div>
